{% extends "base.html" %}

{% block startHeader %}
<script type='text/javascript' >
    serverBootstrap = '{{ bootstrap.servers | safe }}';
    groupBootstrap = '{{ bootstrap.groups | safe }}';
</script>
{% endblock %}

{% block body %}
<div id="menuContainer" ><ul id="menuList">
    <li>
    <a href='{{ url_for( 'ServerList' ) }}'>Manage Servers</a>
    </li>
    <li>
        <a href='{{ url_for( 'GroupList' ) }}'>Manage Groups</a>
    </li>
    <li>
    <a href='{{ url_for( 'RuleList' )}}'>Manage Forwarding Rules</a>
    </li>
    <li>
        <a href=''>Manage Configuration</a>
    </li>
</ul></div>
<ul id="sidebarList">
    <li>
        Servers
        <ul id="serverList">
        </ul>
    </li>
    <li>
    	Groups
    	<ul id="groupList">
    	</ul>
    </li>
</ul>
<div id="mainPanel">

</div>
{% endblock %}
