{% extends "base.html" %}

{% block startHeader %}
<script type='text/javascript' >
    serverBootstrap = '{{ bootstrap.servers | safe }}';
    groupBootstrap = '{{ bootstrap.groups | safe }}';
</script>
{% endblock %}

{% block body %}
<div id="container">
    <div id="sidebar">
        <h3>Servers</h3>
        <div id="serverListContainer">
            <ul id="serverList">
            </ul>
        </div>
        <h3>Groups</h3>
        <div>
            <ul id="groupList">
            </ul>
        </div>
    </div>
    <div id="mainPanel">

    </div>
</div>
<!--
<div id="menuContainer" ><ul id="menuList">
    <li>
    <a href='{{ url_for( 'ServerList' ) }}'>Manage Servers</a>
    </li>
    <li>
        <a href='{{ url_for( 'GroupList' ) }}'>Manage Groups</a>
    </li>
    <li>
    <a href='{{ url_for( 'RuleList' )}}'>Manage Forwarding Rules</a>
    </li>
    <li>
        <a href=''>Manage Configuration</a>
    </li>
</ul></div>-->
{% endblock %}
