{% extends "base.html" %}

{% block body %}
<div id="menuContainer" ><ul id="menuList">
    <li>
    <a href='{{ url_for( 'ServerList' ) }}'>Manage Servers</a>
    </li>
    <li>
        <a href='{{ url_for( 'GroupList' ) }}'>Manage Groups</a>
    </li>
    <li>
    <a href='{{ url_for( 'RuleList' )}}'>Manage Forwarding Rules</a>
    </li>
    <li>
        <a href=''>Manage Configuration</a>
    </li>
</ul></div>
<ul id="sidebarList">
    <li>
        Servers
        <ul id="serverList">
        </ul>
    </li>
</ul>
<div id="mainPanel">

</div>
{% raw %}
<div id="serverForm" style='visibility:hidden'>
    <!-- TODO: Make a css class for hidden shit -->
    <form method='', action='' >
        <!-- TODO: csrf stuff -->
        <dl>
            <dt>Name</dt>
            <dd><input type='text' name='name' >{{ name }}</input></dd>
            <dt>Remote Host</dt>
            <dd><input type='text' name='remoteHost'>{{ remoteHost }}</input></dd>
            <dt>Receive Growls</dt> <!-- Figure out the mustache for checkboxes -->
            <dd><input 
                type='checkbox' 
                name='receiveGrowls'
                {{#receiveGrowls}} checked {{/receiveGrowls}}
                /></dd>
            <dt>Forward Growls</dt>
            <dd><input
                type='checkbox'
                name='forwardGrowls'
                {{#forwardGrowls}} checked {{/forwardGrowls}}
                /></dd>
        </dl>
        <input type='submit' name='submit' />
    </form>
</div>
{% endraw %}
{% endblock %}
