{% extends "base.html" %}

{% block additionalHeader %}
<style type='text/css'>
    #ruleList {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 50%;
    }
    #ruleList li {
        margin: 3px;
        padding: 0.4em;
    }
</style>
<script type='text/javascript'>
    $(document).ready(function(){
            var deleteId = "";
            $("#ruleList li").click( function(){
                $("#ruleList .ui-selected").removeClass( "ui-selected" );
                $(this).addClass( "ui-selected" );
                deleteId = $(this).attr( "name" );
            });

            $("button").button();
            $(".addButton").button();

            $(".deleteButton").click( function(){
                if ( deleteId != "" ) {
                    deleteDialog( deleteId );
                }
            });
    });
</script>
{% endblock %}

{% block body %}
<div id='topButtons'>
    <a 
        class='addButton'
        href='{{ url_for( "AddRule" ) }}'
        >
        Add Rule
    </a>
    <button class='deleteButton' >Delete Selected</button>
</div>
<ul id="ruleList" >
    {% for rule in rules %}
    <li 
        class='ui-widget-content' 
        name='{{ rule.id }}' >
        {{ rule.name }}
    </li>
    {% endfor %}
</ul>
<div id="bottomButtons">
    <a 
        class='addButton'
        href='{{ url_for( "AddRule" ) }}'
        >
        Add Rule
    </a>
    <button class='deleteButton' >Delete Selected</button>
</div>
{% endblock %}
