{% extends "base.html" %}

{% block additionalHeader %}
<script type='text/javascript'>
    $(document).ready(function(){
            $(".selectable").selectable();
            $("button").button();

            $(".deleteButton").click( function(){
                var list = new Array();
                $( "#serverList .ui-selected" ).each( function(){
                    list.push( $( this ).attr( "name" ) );
                });
                if ( list.length > 0 ) {
                    deleteDialog( JSON.stringify( list ) );
                }
            });
    });
</script>
{% endblock %}

{% block body %}
<div id='topButtons'>
    <button class='addButton' >Add Server</button>
    <button class='deleteButton' >Delete Selected</button>
</div>
<ul id="serverList" class='selectable'>
    {% for server in servers %}
    <li 
        class='ui-widget-content' 
        name='{{ server.id }}' >
            {{ server.name }}
    </li>
    {% endfor %}
</ul>
<div id="bottomButtons">
    <button class='addButton' >Add Server</button>
    <button class='deleteButton' >Delete Selected</button>
</div>
{% endblock %}
