$background: #36393B;
$darkest: #45484B;
$dark: #696758;
$medium: #C5BC8E;
$light: #EEE6AB;


body {
    background-color: $background;
}

#container {
    overflow: hidden;
    width: 720px;
    border: {
        width: 1px;
        style: solid;
        color: $darkest; 
    }
    margin: {
        right: auto;
        left: auto;
    }
    background-color: $medium;
}

#sidebar {
    float: left;
    width: 200px;
    padding: 2px;
    font-size: 1.4em;
}

@mixin list-base {
    list-style: none;
}

@mixin nomp {
    padding: 0px;
    margin: 0px;
}

#serverList {
    @include list-base;
    @include nomp;
    li {
        @include nomp;
        font-size: 0.9em;
        a {
            color: black;
        }
    }
}

#grouplist {
    @include list-base;
    @include nomp;
    li {
        @include nomp;
        font-size: 0.9em;
        a { 
            color: black;
        }
    }
}

#memberList {
    @include list-base;
    @include nomp;
    ul {
        @include nomp;
    }
}

#mainPanel {
    float: left;
    padding: 2px;
}

.inline {
    display: inline;
}
