$background: #36393B;
$darkest: #45484B;
$dark: #696758;
$medium: #C5BC8E;
$light: #EEE6AB;


html {
    font-size: 13px;
}

body {
    background-color: $background;
    text-align: center;
}

input[type=text] {
    width:100%;
    padding: 3px;
}

input[role=textbox] {
    width: 86%;
    padding: 3px;
}

#container {
    overflow: hidden;
    display: inline-block;
    text-align: left;
    border: {
        width: 1px;
        style: solid;
        color: $darkest; 
    }
    margin: {
        right: auto;
        left: auto;
    }
    padding: 10px;
    background: $medium;
}

#sidebar {
    float: left;
    width: 150px;
    padding: 2px;
    h3 {
        height:2em;
        padding: 4px;
    }
}

@mixin list-base {
    list-style: none;
}

@mixin nomp {
    padding: 0px;
    margin: 0px;
}

#serverList {
    @include list-base;
    @include nomp;
    li {
        @include nomp;
        font-size: 1em;
        a {
            color: black;
        }
    }
}

#grouplist {
    @include list-base;
    @include nomp;
    li {
        @include nomp;
        font-size: 0.9em;
        a { 
            color: black;
        }
    }
}

#memberList {
    @include list-base;
    @include nomp;
    li {
        @include nomp;
        font-size: 1.2em;
        text-align: center;
        padding: 2px;
    }
}

#mainPanel {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
}

.inline {
    display: inline;
}

dt {
    font-size:0.9em;
}

dd {
    margin: 0px;
    margin-top: 2px;
}

.formButtons {
    margin-top: 10px;
    text-align: right;
}

.buttonset {
    font-size: 0.7em;
}

h2 {
    padding: 5px;
}

.deleteButton {
    float:right;
}
