<!-- TODO: Make a css class for hidden shit -->
<!-- TODO: csrf stuff -->
<h2>{{#name}}Edit{{/name}}{{^name}}New{{/name}} Group</h2>
<div class='control-group' data-field='name' >		
<label>Name</label>
<input type='text' name='name' value='{{ name }}' id='groupNameInput' />
<span class='help-inline' data-text='The name of the group'></span>
</div>
<div class='btn-group'>
	<a 
		class='btn dropdown-toggle' 
		href='#' 
		data-toggle='dropdown'
		>Add Member <span class='caret'></span></a>
	<ul id='addMemberList' class='dropdown-menu'></ul>
</div>
<div>&nbsp;</div>
<label>Members:</label>
<ul id='memberList' class='unstyled'></ul>
<div>&nbsp;</div>
<button type='submit' id='submitButton' class='btn btn-primary'>Save changes</button>
{{#name}}
<button id='deleteButton' class='btn btn-danger'>
	<i class='icon-trash icon-white'></i> Delete
</button>
{{/name}}
<button id='cancelButton' class='btn'>Cancel</button>
