<!-- TODO: Make a css class for hidden shit -->
<!-- TODO: csrf stuff -->
<h2>Edit Server</h2>
<dl>
    <dt>Name</dt>
    <dd>
        <input type='text' name='name' value='{{ name }}' id='serverNameInput'/>
    </dd>
    <dt>Remote Host</dt>
    <dd>
    	<input 
    		type='text'
    		name='remoteHost'
    		value='{{ remoteHost }}'
    		id='serverRemoteHostInput'
    		/>
    </dd>
    <dt>Receive Growls</dt> <!-- Figure out the mustache for checkboxes -->
    <dd><input 
        type='checkbox' 
        name='receiveGrowls'
        {{#receiveGrowls}} checked {{/receiveGrowls}}
        id='serverReceiveGrowls'
        /></dd>
    <dt>Forward Growls</dt>
    <dd><input
        type='checkbox'
        name='forwardGrowls'
        {{#forwardGrowls}} checked {{/forwardGrowls}}
        id='serverForwardGrowls'
        /></dd>
</dl>
<button class='submitServer'>Submit</button>
