<!-- TODO: Make a css class for hidden shit -->
<!-- TODO: csrf stuff -->
<h2 class='ui-widget-header ui-corner-all'>Edit Server</h2>
<label>Name</label>
<input type='text' name='name' value='{{ name }}' id='serverNameInput'/>
<label>Remote Host</label>
<input 
	type='text'
	name='remoteHost'
	value='{{ remoteHost }}'
	id='serverRemoteHostInput'
	/>
	<div class='btn-group' data-toggle='buttons-checkbox'>
		<button 
			id='receiveGrowls' 
			class='btn'>
			Receive Growls
		</button>
		<button 
			id='forwardGrowls' 
			class='btn'>
			Forward Growls
		</button>
	</div>
	<div>&nbsp;</div>
	<button id='submitButton' class='btn btn-primary'>Submit</button>
	<button id='cancelButton' class='btn'>Cancel</button>
